/*@font-face {
  font-family: adumaLight;
  src: url(fonts/aduma/aduma-light-webfont.woff);
}

@font-face {
  font-family: adumaMedium;
  src: url(fonts/aduma/aduma-medium-webfont.woff);
}

@font-face {
  font-family: adumaRegular;
  src: url(fonts/aduma/aduma-regular-webfont.woff);
}

@font-face {
  font-family: adumaBold;
  src: url(fonts/aduma/aduma-bold-webfont.woff);
}

@font-face {
  font-family: adumaHeavy;
  src: url(fonts/aduma/aduma-heavy-webfont.woff);
}*/

@font-face {
  font-family: "almoni-regular";
  src: url(fonts/almoni/almoni-tzar-aaa-regular.otf);
}

@font-face {
  font-family: "almoni-bold";
  src: url(fonts/almoni/almoni-tzar-aaa-bold.otf);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  position: relative;
  color: #4D4D4D;
  font-family: "almoni-regular";
  direction: rtl;
}

header {
  height: 200px;
}

footer {
  position: relative;
  height: 35px;
  line-height: 35px;
  border-top: 2px solid grey;
}

a {
  text-decoration: none;
}

/**********/
/* header */
/**********/

#wrapper, #title, #subtitle, #question, #event-tooltip, #opinions-tooltip, #colors-map {
  display: block;
  width: 1200px;
}


#wrapper {
  position: relative;
  top: 5px;
  height: 650px;
  margin: 0px auto;
}

#title, #subtitle, #question {
  display: block;
}

#title {
  height: 108px;
  line-height: 108px;
  font-size: 90px;
}

#subtitle {
  height: 49px;
  border-bottom: 1px solid grey;
  font-size: 29px;
}

#question {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

/*************/
/* tool tips */
/*************/

#event-tooltip, #opinions-tooltip {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 10;
}

#event-tooltip {
  height: 200px;
  background-color: #4D4D4D;
  color: white;
}

#event-tooltip #event-title, #event-tooltip #event-details {
  position: absolute;
  right: 25px;
  width: 600px;
}

#event-tooltip #event-title {
  top: 25px;
  height: 50px;
  font-size: 40px;
}

#event-tooltip #event-details {
  top:75px;
  height: 100px;
  font-size: 17px;
  font-family: arial;
}

#event-tooltip img {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 450px;
  height: 150px;
}


#opinions-tooltip {
  height: 196px;
  color: #A2A2A2;
  background-color: #F4F4F4;
  border: 2px solid #E6E6E6;
}

#opinions-tooltip #date-container, #opinions-tooltip #opinions-container {
  margin: 0px 50px;
}

#opinions-tooltip #date-container {
  height: 97px;
  line-height: 97px;
  font-size: 80px;
  font-weight: bolder;
  border-bottom: 1px solid #E3E3E3;
}

#opinions-tooltip #opinions-container {
  top: 100px;
  height: 98px;
}

.opinion, .opinion-color {
  width: 150px;
}

.opinion {
  position: relative;
  top: 25px;
  height: 50px;
  display: inline-block;
}

.opinion-text, .opinion-percentage, .opinion-color {
  position: absolute;
}

.opinion-text, .opinion-percentage {
  top: 0px;
  font-size: 21px;
}

.opinion-text {
  right: 0px;
}

.opinion-percentage {
  left: 0px;
}

.opinion-color {
  bottom: 0px;
  height: 15px;
}

/************/
/* data VIS */
/************/

#data-vis, #scroll-old, #scroll-new {
  height: 400px;
  display: inline-block;
}

#data-vis {
  position: relative;
  width: 1200px;
  margin-top: 30px;
  overflow: hidden;
}

#data-vis svg {
  position: absolute;
  right: -188px;
}

#scroll-old, #scroll-new, #scroll-old div, #scroll-new div {
  height: 331px;
}

#scroll-old, #scroll-new {
  position: absolute;
  bottom: 19px;
  width: 40px;
  background-color: white;
  z-index: 10;
}

#scroll-old {
  left: 0px;
}

#scroll-new {
  right: 0px;
}

#scroll-old div, #scroll-new div {
  position: absolute;
  width: 35px;
  cursor: pointer;
  background-color: #666666;
  z-index: 20;
}

#scroll-old div img, #scroll-new div img {
  position: absolute;
  top: 140px;
  width: 25px;
  height: 45px;
  z-index: 25;
}

#scroll-old div {
  left: 0px;
}

#scroll-old div img {
  background: url(../imgs/Left-Arrow.png) no-repeat;
  left: 5px;
}

#scroll-new div {
  right: 0px;
}

#scroll-new div img {
  background: url(../imgs/Right-Arrow.png) no-repeat;
  right: 5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #808080;
  stroke-width: 2;
  shape-rendering: crispEdges;  
}

.axis text {
  font-family: "almoni-regular";
  font-size:35px;
  stroke-opacity: 0;
}

.month {
  cursor: pointer;
}

.event {
  fill: #FBB03B;
  cursor: pointer;
}

.seletedMonth {

}

/**************/
/* colors map */
/**************/

#colors-map {
  position: relative;
  height: 50px;
}

#gradient-map, #solid-map {
  position: absolute;
  height: 35px;
}

#gradient-map{
  right: 40px;
  width: 500px;
}

#solid-map {
  left: 40px;
  width: 125px;
}

#support, #oppose, #avoid {
  position: absolute;
  top: 0px;
  font-size: 22px;
}

#support {
  right: 0px;
}

#oppose {
  left: 0px;
}

#avoid {

}

#opinions-gradient, #opinions-solid {
  position: absolute;
  bottom: 0px;
  height: 10px;
}

#opinions-gradient {
  right: 0px;
  background: linear-gradient(to right, #F05A23, #BB7A4A, #809F77, #4DBE9D, #09E8CD);
  width: 500px;
}

#opinions-solid {
  left: 0px;
  background-color: #E6E6E6;
  width: 125px;
}

/**********/
/* footer */
/**********/

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: grey;
}

#right-circle, #left-circle {
  position: absolute;
  top: -5px;
}

#right-circle {
  right: 0px;
}

#left-circle {
  left: 0px;
}

#authors, #reference {
  position: absolute;
}

#authors {
  right: 15px;
}

#reference {
  left: 15px;
}
